<mat-form-field>
  <mat-label>Search for country</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Country" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            
  <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let element" style="max-width: 200px;"> {{element.country}} </td>
  </ng-container>

  <ng-container matColumnDef="newCases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Today cases </th>
      <td mat-cell *matCellDef="let element"> {{element.newCases}} </td>
  </ng-container>

  <ng-container matColumnDef="newDeaths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Today deaths </th>
      <td mat-cell *matCellDef="let element"> {{element.newDeaths}} </td>
  </ng-container>

  <ng-container matColumnDef="recovered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered overall </th>
      <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>

  <ng-container matColumnDef="tests">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tests overall </th>
    <td mat-cell *matCellDef="let element"> {{element.tests}} </td>
</ng-container>

<ng-container matColumnDef="casesOverall">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases overall </th>
  <td mat-cell *matCellDef="let element"> {{element.casesOverall}} </td>
</ng-container>

<ng-container matColumnDef="deathsOverall">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths overall </th>
  <td mat-cell *matCellDef="let element"> {{element.deathsOverall}} </td>
</ng-container>

<tr class="mat-row" *matNoDataRow>
  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
</tr>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>